* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.coder {
  width: 90%;
  max-width: 350px;
  margin: 10px auto;
  font-size: 15px;
  line-height: 1;
}

.coder a {
  text-decoration: none;
}
