:root {
  --white: #fff;
  --darkWhite: rgb(238, 238, 238);
  --black: #000;
  --secondary: #0140dd;
  --primaryFont: "Open Sans", sans-serif;
  --secondaryFont: "Roboto", sans-serif;
  --clouds: #cfcfcf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.newWeather {
  margin: 10px auto;
  width: 90%;
  max-width: 350px;
  border: 4px solid var(--black);
  background-color: var(--darkWhite);
  color: var(--black);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: var(--primaryFont);
}

#paddingContent {
  width: 100%;
  padding: 10px;
}

p {
  margin: 0px;
}
form,
header,
section,
footer {
  width: 100%;
  padding: 5px 10px;
}

.title {
  color: var(--white);
  font-family: var(--secondaryFont);
  text-transform: uppercase;
  font-weight: 300;
}
h1 {
  color: var(--black);
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1.2;
  font-size: 40px;
  border-bottom: 1px solid var(--black);
  text-transform: uppercase;
}

/* - - - FORM STYLES - - - */
form {
  margin: 0px;
  display: flex;
  padding: 5px;
  border-radius: 25px;
  background-color: var(--white);
  justify-content: space-around;
}

form input {
  border: none;
  background-color: var(--white);
}
form input:focus,
form button:focus {
  outline: none;
}

form input[type="text"] {
  width: 70%;
}

form button {
  border: none;
  background-color: var(--white);
  font-size: 20px;
}

form .deleteBtn {
  color: grey;
}

form button:hover {
  color: var(--secondary);
  transition: 0.3s all ease-in-out;
}

/* - - - CITY AND HOUR STYLES - - - */

header div {
  display: flex;
}

header div h6 {
  width: 50%;
}

/* - - - ICON AND TEMP. STYLES - - - */

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.icon {
  display: flex;
  align-items: center;
  width: 45%;
  padding: 10px;
}

.icon img {
  width: 100%;
}

.temperature {
  width: 55%;
  padding: 10px;
}

.tempValue {
  font-size: 70px;
  font-weight: bold;
}

.temperature a {
  text-decoration: none;
  color: var(--black);
}
.active {
  color: var(--secondary);
  font-weight: bold;
}

/* - - - WEATHER DATA STYLES - - - */
.weatherData {
  display: flex;
  justify-content: space-between;
}
.weatherData p {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.dataValues,
.tempmax {
  width: 50%;
}
/* - - - FOOTER STYLES - - - */
footer {
  padding: 10px;
  margin: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--darkWhite);
  color: var(--black);
}

footer .title {
  color: var(--black);
  font-weight: bold;
  padding-left: 10px;
}

.forecastItem {
  padding: 5px 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.forecastItem .date {
  width: 30%;
  font-size: 14px;
}

.right-align {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.forecastItem .forecastIcon {
  width: 30px;
  height: 30px;
}

.forecastItem div img {
  width: 100%;
  padding: 5px;
}

.forecastItem .forecastMin {
  color: blue;
}

/* - - - */
.coder {
  width: 90%;
  max-width: 350px;
  margin: 10px auto;
  font-size: 15px;
  line-height: 1;
}

.coder a {
  text-decoration: none;
}

/* - - - CHANGING COLOR STYLES - - - */
/*

I added the styles in the component 
so this code is not neccesary. 
(just reference!)
.sunny {
  background-color: #f3e6b9;
}

.sunnyForecast {
  background-color: #f5d98e;
}

.clouds {
  background-color: #bfbfbf;
}

.cloudsForecast {
  background-color: #96939b;
}

.rain {
  background-color: #e6e3d2;
}

.rainForecast {
  background-color: #4472ca;
}

.snow {
  background-color: #d6e3f8;
}

.snowForecast {
  background-color: #a9b7ce;
}

*/
